@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html{
    width: 100%;
    height: 100%;
    position: absolute;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

body{
    font-family: "Caveat", cursive;
    margin: 0;
    color: #ef5b99;
    display: flex;
    background: rgb(255,255,255);
    background-image: url(img/Gradient.png);
    background-size: 1920px;
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,180,208,1) 100%);*/
}   



.lado_direito {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 100vh; /* Agora a div ocupa 100% da altura da viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.botoes{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    
}

button{
    margin: 15px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    padding: 16px;
    border: none;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 20px;
}
.botaoLogin{
    background-color: #ef5b99;
    color: white;
}
.botaoLogin:hover{
    background-color: white;
    color: #ef5b99;
    outline: solid 2px  #ef5b99;

}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 16px;
    border-radius: 3px;
    margin: 15px 15%;
}

.botaoCadastro:hover{
    background-color: white;
    color: #ef5b99;
    outline: solid 2px  #ef5b99;

}

.entrar{
    font-size: 98px;
    color: black;
}

.form-control{
    width: 300px;
    padding-left: 10px;
    height: 46px;
    margin-top: 25px;
    border-radius: 5px;
    border-width: 0;
    outline: solid 2px black;
    background-color: transparent;
}

.form-control-password{
    width: 300px;
    height: 46px;
    padding-left: 10px;
    margin-top: 25px;
    border-radius: 5px;
    border-width: 0;
    outline: solid 2px black;
    background-color: transparent;
}

.lado_left{
    margin-top: 30px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
   
    font-size: 20px;
}

.LogoDalia{
    margin: 20px;
    width: 30vw;
}
.botaoCadastro{
    background-color: #ef5b99;
    color: white;
    width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

/*checkbox*/ 
.container {
    margin-top: 20px;
    display: flex;
    align-items: center; /* Alinha o checkbox e o texto verticalmente */
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px; /* Ajusta o tamanho da fonte para combinar */
    line-height: 20px; /* Certifica-se de que o texto e o checkbox estão bem alinhados */
    user-select: none;
  }

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 10%;
  }

.container:hover input ~ .checkmark {
    background-color: #ef5b99;
  }

.container input:checked ~ .checkmark {
    background-color: #ef5b99;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
        left: 8px; /* Ajustando o ícone de marcação */
        top: 4px; /* Ajustando o ícone de marcação */
        width: 4px; /* Reduzindo o tamanho da marcação */
        height: 8px; /* Reduzindo o tamanho da marcação */
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }